<!DOCTYPE html>
<html>
<head>
    <title>First Page</title>
</head>
<body>

<h2>Student Form</h2>

<form method="POST">
    {% csrf_token %}

    Name:
    <input type="text" name="name"><br><br>

    Roll:
    <input type="text" name="roll"><br><br>

    Subject:
    <select name="subject">
        <option>Maths</option>
        <option>Physics</option>
        <option>Computer Science</option>
    </select><br><br>

    <button type="submit">Go to Second Page</button>

</form>

</body>
</html>